@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@400;500&family=Quicksand:wght@400;500;600&family=Raleway:wght@400;500&display=swap");

:root {
  --font-size--xs: 0.75rem;
  --font-size--sm: 0.875rem;
  --font-size--base: 1rem;
  --font-size--lg: 1.125rem;
  --font-size--xl: 1.25rem;
  --font-size--2xl: 1.5rem;
  --nav-height: 8vh;
  --box-shadow--base:0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --box-shadow--md:0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --box-shadow--lg:0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}


a {
  color: inherit;
  font-family: inherit;
}

img {
  display: block;
}

body {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-family: "QuickSand", sans-serif;
  font-size: var(--font-size--2xl);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--nav-height);
}
