@import "/node_modules/modern-normalize/modern-normalize.css";
@import "global.css";

bro-nav {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  color: white;
  height: var(--nav-height);
  padding-right: 5%;
  padding-left: 5%;
}

bro-nav::part(links) {
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 0 1px 6px rgba(12, 11, 11, 0.5);
  backdrop-filter: blur(20px);
}

bro-nav a {
  display: inline-block;
  text-decoration: none;
  transition-property: transform, color;
  transition-duration: 0.25s;
  color: black;
}
bro-nav a:hover {
  transform: scale(1.175);
}

bro-nav img {
  height: var(--font-size--xl);
}

bro-nav svg {
  transform: rotate(180deg);
  height: var(--font-size--xl);
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 92vh;
  justify-content: space-around;
}

#hero > div {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  background-position: top;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url("/src/assets/bg-hero.jpg");
}

.hero__header {
  color: white;
  text-align: center;
}

.hero__header h1 {
  color: #06d6a0;
  font-weight: 400;
}

.hero__header h2 {
  font-family: "Oxanium", cursive;
  font-weight: 500;
  text-transform: uppercase;
  font-size: var(--font-size--base);
}

bro-carousel img {
  width: 4rem;
  height: 4rem;
}

bro-carousel div {
  background-color: rgb(249, 250, 251);
  height: min-content;
  width: min-content;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
#projects {
  background-color: rgb(243, 244, 246);
  min-height: 92vh;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

#projects div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  gap: 2.5rem;
}

#projects project-card {
  background-color: white;
  width: 85%;
  box-shadow: var(--box-shadow--md);

}

#projects project-card h1 {
  font-size: var(--font-size--lg);
  font-weight: 600;
}

#projects > h1 {
  padding-left: 10%;
  padding-bottom: 2.5rem;
  margin: 0;
  font-weight: 600;
}

footer {
  background-color: rgb(229, 231, 235);
  padding: 5%;
}

footer svg {
  height: var(--font-size--base);
}

@media (min-width: 768px) {
  bro-nav::part(links) {
    background-color: transparent;
    border-bottom-left-radius: initial;
    border-bottom-right-radius: initial;
    box-shadow: unset;
    backdrop-filter: initial;
  }

  bro-nav a {
    color: white;
  }

  bro-nav a:hover {
    color: #ffd166;
    transform: initial;
  }

  #hero > div {
    background-attachment: fixed;
  }

  #projects div {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  #projects project-card {
    flex-basis: 40%;
  }

  bro-carousel img {
    width: 5rem;
    height: 5rem;
  }
}

@media (min-width: 1024px) {
  #projects > h1 {
    padding-left: 5%;
  }
  #projects div {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  #projects project-card {
    flex-basis: 30%;
  }

  footer {
    background-color: rgb(229, 231, 235);
    padding-top: 2.5%;
    padding-bottom: 2.5%;
  }
}
