bro-nav {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    color: white;
    height: var(--nav-height);
    padding-right: 5%;
    padding-left: 5%;
}

bro-nav::part(links) {
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0 1px 6px rgba(12, 11, 11, 0.5);
    backdrop-filter: blur(20px);
}

bro-nav a {
    display: inline-block;
    text-decoration: none;
    transition-property: transform, color;
    transition-duration: 0.25s;
    color: black;
}

bro-nav a:hover {
    transform: scale(1.175);
}

bro-nav img {
    height: var(--font-size--xl);
}

bro-nav svg {
    transform: rotate(180deg);
    height: var(--font-size--xl);
}


@media (min-width: 768px) {
    bro-nav::part(links) {
        background-color: transparent;
        border-bottom-left-radius: initial;
        border-bottom-right-radius: initial;
        box-shadow: unset;
        backdrop-filter: initial;
    }

    bro-nav a {
        color: white;
    }

    bro-nav a:hover {
        color: #ffd166;
        transform: initial;
    }
}
